# Ignore virtual environment
venv/

# Ignore large folders
dataset/
augmented_dataset/
augmented_output/
input_images/
test_images/

# Ignore temporary files
__pycache__/
*.pyc
*.pyo
*.tmp
*.log
.DS_Store
